#voda{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". voda .";

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: voda;
    }
}